body {
  width: 300px;
  padding: 20px;
  height: 100px;
  min-height: 100px;
}

.input-div{
    position: relative;
}

.text-ipt{
    width: 100%;
    border-radius: 16px;
    padding: 16px 8px;
    border: 2px solid rgb(206, 206, 206);
}
