body {
  width: 300px;
  padding: 20px;
  height: 100px;
  min-height: 100px;
}

.input-div {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 32px;
  color: #cecece;
}

.text-ipt {
  width: 100%;
  border-radius: 16px;
  padding: 1px 8px;
  border: 2px solid #cecece;
}
